@import "../styles/global.css";
.auth-title{ font-size:28px; font-weight:800; margin:0 0 6px }
.auth-sub{ color:var(--muted); margin:0 0 18px }
.auth-form{ display:grid; gap:14px; margin-top:6px }

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper .input {
  flex: 1;
  padding-right: 2.5rem; /* space for icon */
}

.toggle-password {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: var(--muted);
  font-size: 1.1rem;
}
